<!-- footer -->

<footer class="text-center">
    <!-- social media sections -->
    <section>
        <!-- center words -->
        <div class="me-5 d-md-block" >
            <span>Lets connect</span>
        </div>


        <!-- social media options  -->
        <div>
            <a href="https://www.google.com/" >
                <i class="bi bi-envelope-at-fill"></i>
            </a>
            <a href="">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="">
            </a>


        </div>

    </section>

</footer>
