<!-- footer -->

<footer class="text-center">
    <!-- social media sections -->
    <section class="justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- center words -->
        <div class="me-5 d-md-block" >
            <span>Lets connect</span>
        </div>


        <!-- social media options  -->
        <div class="me-5 d-md-block">
            <a href="https://www.google.com/" class="me-4">
                <i class="bi bi-envelope-at-fill"></i>
            </a>
            <a href="" class="">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="">
            </a>


        </div>


        <!-- contact -->
        <div class="text-uppercase fw-bold me-5 d-md-block">
            <span>Contact Me</span>
           
        </div>

    </section>





    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright: Kevin Joseph
        
    </div>

</footer>
